div.top-margin-40 {
	margin-top: 40vh; 
}

.center {
	text-align: center;
}

.sidebar {
	min-height: 100vh;
	background-color: #2C3e50;
	padding-right: 0px;
	padding-top: 56px;
}


.sidebar li a {
	color: white;
	border-bottom: 1px solid #455A64;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 2px;
	margin-right: 2px;
}

.sidebar div li:first-child a {
	border-top: 1px solid #455A64;
}

.sidebar li a.active {
	background-color: #009688;
}

.csv-table {
	height: 90vh;
	margin-top: 1%;
	table-layout: fixed;
	width: 10px;
}

.top-margin-4 {
	margin-top: 4%;
}

.top-margin-1 {
	margin-top: 1%;
}

div.actions nav {
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.action-heading {
	text-align: center;
}

.multiple-select {
	height: 50vh;
}

.breadcrumb-item.active {
	color: #138496;
}

.breadcrumb-item {
	cursor: pointer;
}

.navbar {
	background-color: #2C3e50;
}

.navbar a {
color: white;
}

#page-content {
	padding-top: 55px;
}

.card {
	height: 78vh;
}